.body {
    --background: #1a3b6c;
}

.CajaTexto1 {
    position: absolute;
    display: inline-block;
    margin-top: 5px;
    color: black;
    width: 80%;
    height: 100%;
    left: 21%;
    top: 0px;
  }
  .CajaTexto {
    margin: 5px;
    height: auto;
    text-align: center;
}


  .txtIconTitulo {
    position: absolute;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 14px;
    color: black;
    left: 0;
    top: 15%;
    text-align: left;
  }
  .txtIconTitulo2 {
    position: absolute;
    font-family: RobotoL;
    font-weight: 500;
    font-size: 15px;
    line-height: 14px;
    color: black;
    left: 0;
    top: 50%;
    text-align: justify;
  }
  
  .txtIconTitulo-right {
    position: absolute;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 14px;
    color: black;
    right: 20px;
    top: 50%;
  }

  .txtIconTitulo-right2 {
    position: absolute;
    font-family: RobotoR;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 14px;
    color: black;
    right: 15px;
    top: 15%;
  }

  .CajaIcono {
    position: absolute;
    left: 0px;
    width: 20%;
  }

  .icono {
    display: inline-block;
    color: black;
    font-size: 40px;
    text-align: left;
    margin-top: 25%;
    margin-left: 20px;
  }
  
  .ajustarCaja1 {
    position: relative;
    width: 90%;
    margin: auto;
    border-radius: 16px;
    margin-top: 3%;
    background: #f4f1ec;
    height: 70px;
  }
  .txtTitulo {
    

    height: 24px;
    left: 58px;
    top: calc(50% - 24px/2 - 21.5px);
    /* Subtitle 1 */

    justify-items: center;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: 0.15px;

    /* On Surface / High Emphasis */

    color: rgba(255, 255, 255, 0.87);


}