
.ajustarLinea{
    box-shadow: 0px -1px 3px rgba(255, 255, 255, 0.25);
    text-align: center;
  }
  
  ion-icon {
    color: white;
    font-size: 30px;
  }
  .icono{
    color: white;
    font-size: 30px;
  }
  ion-label{
    font-size: 8px;
    color:  #2F745C  ;

  }
  ion-label:hover{
    color:  #2F745C  ;
  }
  ion-tab-button{
    width: 25%;
  }
  .icono{
    padding: 2%;
  }
  
  .Fondo{
    border-top:solid #007036 1px;
    --background: #007036;;
  }
  .Logo{
    width: 60px;
    height: auto;
    margin-left: 5px;
    margin-top: 5px;
    color: black;
  }
  