<div class="ajustarLinea">
  <ion-tab-bar slot="bottom" class="ajustarLinea  Fondo">
      
    <ion-tab-button (click)="Navegar('/home/inicio')">
        <i class="material-icons icono">home</i>
        <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="Navegar('/home/inscripcion')">
        <i class="material-icons icono">manage_accounts</i>
        <ion-label>Inscripción</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="Navegar('/home/transferencia')">
        <i class="material-icons icono">qr_code_2</i>
        <ion-label>Generar QR</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</div>